/* Universal styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    font-family: 'Playfair Display', serif;
    color: black;
    width: 80%;
    margin: auto;
    font-size: 16px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
}

section {
    margin-bottom: 20px;
}

/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: 40px;
}

.navigate {
    list-style-type: none;
    display: inline-flex;
    width: 300px;
    justify-content: space-between;
    font-size: 1rem;
}

.navigate li a {
    text-decoration: none;
    font-weight: 600;
}

/* Banner styles */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}


#name-yash {
    font-family: 'Abril Fatface', cursive;
    display: inline;
    font-size: 2.8rem;
}

#banner p {
    font-size: 1.6rem;
    font-weight: 500;
}

.to-inline-block {
    width: auto;
}

.attach-with-name {
    display: inline;
}


/* About Me Styles */


#about-me p {
font-family: 'Merriweather', sans-serif;
font-size: 1.1rem;
font-weight: 500;
line-height: 1.4;
}

#time-show {
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
}

/* Projects Styles */

#project-list {
    list-style-type: circle;
    display: inline-block;
    margin-left: 30px;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.05rem;
}

#project-list li {
    margin-bottom: 20px;
}

#arrow-container {
    margin-left: 20px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline;
}

#arrow-container > img {
    max-width: 18px;
    height: auto;
    transform: rotate(270deg);
}

.city-bike-content {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

#tech-list li {
    margin-left: 30px;
}

.tech-used {
    display: none;
    align-self: center;
}

#city-container {
    display: none;
    width: 60%;
    height: 400px;
    overflow: hidden;
}

#city-container > img {
    max-width: 100%;
    height: auto;
    display: block;
}