/* Universal styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    font-family: 'Playfair Display', serif;
    color: black;
    width: 80%;
    margin: auto;
    font-size: 16px;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: 40px;
}

#header-name a {
    text-decoration: none;
    color: black;
}

#header-name a:hover {
    cursor: pointer;
}

#header-name a:active {
    color: black;
}

.navigate {
    list-style-type: none;
    display: inline-flex;
    width: 300px;
    justify-content: space-between;
    font-size: 1rem;
}

.navigate li a {
    text-decoration: none;
    font-weight: 600;
}

.navigate li a:hover {
    text-decoration: underline;
    color: darkolivegreen;
}

/* Contact */

#contact {
    margin-top: 50px;
    font-size: large;
}

#social-media-container {
    margin-top: 10px;
    width: 40%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.media-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.media-container img {
    max-width: 30px;
    height: auto;
}

#gmail-container {
    width: 50px;
    height: 30px;
    overflow: hidden;
}

#gmail-container img {
    max-width: 50px;
    height: auto;
}
#github-container {

    width: 55px;
    height: 55px;
    overflow: hidden;
}

#github-container img {
    max-width: 50px;
    height: auto;
}

#linkdin-container {

    width: 40px;
    height: 40px;
    overflow: hidden;
}

#linkdin-container img {
    max-width: 37px;
    height: auto;
}